.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  width: 100%;

  @media (max-width: 580px) {
    padding: 30px 20px;
  }

  .header__logo {
    max-width: 125px;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    &::before {
      display: none;
    }
  }

  .header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 180px;
    width: 100%;

    .header__nav_link {
      margin-left: auto;
    }
  }
}
