.container {
  max-width: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(240, 209, 170);

  .home {
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    max-width: 100%;
    width: 100%;
    min-height: 580px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
      url("../../assets/images/home-hero.png") no-repeat center center;
    background-size: cover;

    @media (max-width: 580px) {
      padding: 30px 20px;
    }

    .home__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 42px;
    }

    .home__subtitle {
      margin: 10px 0px 0px;
      font-size: 16px;
    }

    .home__link {
      &::before {
        display: none;
      }

      display: inline-block;
      margin: auto 0px 0px;
      padding: 12px 25px;
      width: 170px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      background-color: rgb(255, 139, 56);
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .home-wrap {
    padding: 0px 70px;

    @media (max-width: 580px) {
      padding: 0px 20px;
    }

    .home-travel__title {
      margin: 20px 0px;
      font-size: 24px;
      text-align: center;
      color: rgb(22, 22, 22);

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    .home-travel {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      margin: 0px 0px 20px;
      width: 100%;

      img {
        display: block;
        max-width: 355px;
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
