.vans-container {
  margin: 0px 0px 30px;
  padding: 0px 70px;

  @media (max-width: 580px) {
    padding: 0px 20px;
  }

  .vans-container__title {
    margin: 55px 0px 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
    color: rgb(22, 22, 22);
  }

  .van-list-filter-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 22px 0px 55px;
    max-width: 480px;
    width: 100%;

    .van-type {
      font-family: "Inter", serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      &::before {
        display: none;
      }
    }

    .clear-filters {
      padding: 0px 0px 0px 10px;
      text-decoration: underline;
      color: rgb(77, 77, 77);
      background-color: transparent;
    }
  }

  .vans-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .van-card {
      a {
        &::before {
          display: none;
        }
      }

      img {
        display: block;
        max-width: 100%;
        width: 100%;
        border-radius: 5px;
      }

      .van-card__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: rgb(22, 22, 22);
      }
    }
  }
}
